[run]
omit =
    /*/coredis/_version*
    setup.py
    versioneer.py
[report]
exclude_lines =
    pragma: no cover
    noqa
    raise NotImplementedError
    @overload
    @abstractmethod
    if TYPE_CHECKING
