include LICENSE
include README.rst
include HISTORY.rst
exclude __pycache__
exclude benchmarks
recursive-include tests *
recursive-include requirements *.txt
recursive-exclude tests *.pyc
include versioneer.py
include coredis/_version.py
